.wrapper {
    height: 1847px;
    width: 1300px;
    background: url(./assets/images/Layer\ 20.png);
    background-size: cover;
    margin: 0;
}
.header {
    height: 112px;
    width: 1300px;
    display: grid;
    grid-template-columns: 232px 225px 703px 140px; 
    grid-template-areas: "logoMain" "logo" "navbar";
}
.logoMain {
    height: 85px;
    width: 85px;
    margin-top: 27px;
    margin-left: 139px;
    background: url(./assets/images/Shape\ 8\ copy\ 3.svg), url(./assets/images/Shape\ 8\ copy\ 4.svg);
    background-size: cover;
}
.logo {
    height: 112px;
    width: 225px;
}
h1 {
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0px;
    border: none;    
}
nav {
    width: 464px;
    height: 112px;
    justify-self: end;
    background: url(./assets/images/Rectangle\ 2\ copy\ 2.svg), url(./assets/images/Rectangle\ 2\ copy\ 3.svg); 
    background-repeat: no-repeat;
    background-position: 95% 95%, 90% 90%;
}
.navbar ul {
    display: flex;
    justify-content: space-around; 
    height: 42px;
    width: 393px;
    padding-left: 39px;
    padding-right: 22px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 70px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    border: none;
    list-style-type: none;
}
.nav-item {
    display: flex;
    height: 41px;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.parrots {
    height: 454px;
    width: 1300px;
    display: grid;
    grid-template-columns: 150px 549px 1fr 159px;
    grid-template-areas: "slider-left" "video" "cool-text" "slider right";
}
.slider-left {
    background: url(./assets/images/Rectangle\ 3\ copy.svg);
    width: 32px;
    height: 57px;
    justify-self: left;
    align-self: center;
    background-repeat: no-repeat;
    background-position: left center;
}
.video {
    align-self: center;
}
.birds {
    width: 549px;
    height: 327px;
    background-image: url(./assets/images/Layer\ 18.png);
    background-size: 550px 328px;
    background-position: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background-color: #efdc8f;
}
.cool-text {
    width: 392px;
    height: 121px;
    margin-left: 51px;
    margin-top: 146px;
}
h2 {
    font-size: 63px;
    letter-spacing: 1px;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.thecool {
    color: #f5c506;
}
.theminimal {
 color: #ffffff;
}
.slider-right {
    background: url(./assets/images/Rectangle\ 3.svg);
    width: 32px;
    height: 57px;
    justify-self: right;
    align-self: center;
    background-repeat: no-repeat;
    background-position: right center;
}
.columns-wrapper {
    height: 212px;
    width: 1300px;
    background: url(./assets/images/Layer\ 7.png);
    background-size: cover;
    margin: 0;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "download" "eco" "telegram";
}
.download {
    display: block;
}
h4 {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000; 
    font-family: "Segoe UI";
    font-weight: 300;
    text-transform: uppercase;
}
.cloud {
    width: 109px;
    height: 74px;
    margin-top: 59px;
    box-shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69);
    background: url(./assets/images/Shape\ 2.svg);  
    

}
.leaf {
    width: 91px;
    height: 95px;
    box-shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69);
}
.plane {
    width: 81px;
    height: 83px;
    border-radius: 22px;
    box-shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69);
}
.footer-wrapper {
    height: 64px;
    width: 1300px;
    background: url(./assets/images/Layer\ 31.png);
    background-size: cover;
    margin: 0;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
}
.footer-content {
    height: 64px;
    width: 1300px;
    display: grid;
    grid-template-columns: 203px 160px; 
    grid-template-areas: "footer-image" "footer-logo";
}
.footer-image {
    height: 56px;
    width: 56px;
    margin-top: 3px;
    margin-left: 139px;
    background: url(./assets/images/Shape\ 8\ copy\ 3.svg), url(./assets/images/Shape\ 8\ copy\ 4.svg);
    background-size: cover; 
}
h3 {
    width: 160px;
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
    margin-bottom: 0;
}